.advertisement {
    margin-left: 30px;
}

.gmail {
    position: absolute;
    bottom: 10px;
}

.twitter {
    position: absolute;
    bottom: 50px;
}

.instagram {
    position: absolute;
    bottom: 100px;
}

.facebook {
    position: absolute;
    bottom: 150px;
}

.linkedin {
    position: absolute;
    bottom: 200px;
    margin-left: 7px;
}

.btn-home {
    position: absolute;
    right: 0px;
}

.btn-all {
    position: relative;
    top: 0px;
    cursor: pointer;
}

.skills {
    margin-top: 150px;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    padding: 10px 20px;
}

.projects {
    margin-top: 200px;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    padding: 10px 20px;
}

.about {
    padding: 10px 20px;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

.skills span{
    margin-left: 7px;
}

.slogo h1 {
    position: relative;
    top: 280px;
}

.fa-sitemap {
    margin-left: 13px;
}

.fa-tasks {
    margin-left: 13px;
}

.fa-address-card {
    margin-left: 10px;
}

.redirect {
    color: black;
    text-decoration: none;
}

body {
    animation: loadintransition 1s;
}

@keyframes loadintransition {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}