.todo-proj {
    margin: 30px 80px;
}

.prof-container-wd {
    border: 1px solid black;
    border-radius: 70px;
    height: 200px;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    font-family: "Poppins", sans-serif;
}

.todo {
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    font-family: "Poppins", sans-serif;
}


.prof-container-wd h1 {
    margin-top: 60px;
}